/* Estilos do CSS */


* {
    padding:0;
    margin:0;

    /* fazer com que as divs sejam preenchidas dentro do box */
    box-sizing: border-box;
    color:gray;
    font-family: 'Martel Sans', sans-serif;
}


ul {
    list-style: none;
    font-style: italic;
    font-size: 20px;
    margin: 3px;
}



a {
    text-decoration: none;
    font-weight: 700;
    transition: 900ms;
}


a:hover{
    color:white;

}



#titulo {
    font-size: 30px;
    color:aqua;
    
}



header{
    width: 100%;
    background-color: black;
    display:flex;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 50px;
    border-bottom: 2px solid rgb(44, 43, 43);
    position: fixed;
    opacity: 90%;
    
}

header ul{
    
    display: flex;
    
}

header ul li{
    padding: 10px;
}


body{

    /*fixando nao centralizando nao repetindo a imagem... */
    background: url(./background.jpg) no-repeat center center fixed;
    
    
    /*Deixar como a imagem eh*/
    background-size: cover;


}


.container {
    text-align: center;
    padding: 15%;
}



.container .nome  h1{
   
    font-size: 60px;
    color:white;
}


.container .nome h5{
    font-size: 20px;
    color:white;
}


#paragrafo {

    max-width: 600px;
    margin: 0 auto;
    padding: 2%;
}


.form {
    width: 60%;
    margin: 0 auto;
    padding: 3%;
}

.form input{

    background-color: white;
    width: 80%;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    margin-right: -4px;
}

.form button{

    width: 20%;
    padding: 5px;
    background-color: black;
    color: white;
    transition: 900ms;

}

.form button:hover{
    background-color: #ccc;
    color:black;
    cursor: pointer;
}











  